{{/*
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}
<figure class="text-center">
  {{ $absDest := cond (in .Destination "/") (.Destination | absURL) ((printf "%s%s" .Page.Permalink .Destination) | absURL) }}
  <a href="{{ $absDest }}" target="_blank">
    <img src="{{ $absDest }}" class="img-fluid default-markup" alt="{{ .Text }}" />
  </a>
</figure>
