{{ define "main" }}
<main id="home">
  <section class="text-center py-4 mt-0 header-plasma20" style="background: linear-gradient(-30deg, #00d2ff 0%, #3a47d5 100%);; color: white">
    <h1 style="color: #eff0f1 !important">{{ .Params.name }}</h1>
    <h2 style="color: #eff0f1 !important">{{ .Params.subtitle }}</h2>
        <p>{{ i18n "available" }}</p>
        <a href="{{ "/get-it" | relLangURL }}" hreflang="{{ .Site.LanguagePrefix }}" class="learn-more button noblefir my-2 mx-3">{{ i18n "get-it" }}</a>
    <div class="laptop-with-overlay d-block mt-5 mb-3 mx-auto w-100" style="max-width: 1000px">
      <img class="laptop img-fluid" src="/reusable-assets/laptop.svg" alt="">
      <div class="laptop-overlay">
        <img class="img-fluid" src="/images/kdevelop-window.png" alt="{{ i18n "plasma" }} ">
      </div>
    </div>
  </section>

</main>
{{ end }}
